@charset "UTF-8";

/*
	#FFE6E6 : 연한분훈
	#F2D1D1
	#DAEAF1 : 연한 하늘
	#C6DCE4

*/


/* css 초기화 */
*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
	text-decoration: none;	/* 텍스트 밑줄 제거 */
	list-style: none;		/* 글머리 기호 제거 */
	text-decoration: none;
}

/* 웹박스 전체 */
.webbox{
	width: 1200px;
	margin: 0 auto;
}

.b_box{	/* 보조틀 */
	border: solid 3px black;
	margin: 10px;
}

/* 인기게시물 전체박스 */
.best_box{
	border: solid 2px red;
	margin: 10px;
}
.best_title{
	border: solid 2px red;
	margin: 10px;
	
}
/* 인기게시물 이미지 */
.best_img img{
	border-radius: 30px;	/* 모서리 둥글게 */
	padding: 20px;
	margin: 20px;
}
.best_img{
	border: solid 2px blue;
}


/*----------------------- 최근 게시물 ----------------------*/
.recent_box{
	border: solid 2px blue;
	margin: 2px;
}
/* 게시물 닉네임, 업로드시간 */
.me_box{
	border: solid 2px blue;
	margin: 3px;
}
/* 프로필 이미지 */
.me_img{
	border: solid 2px black;
	float: right;
	width: 50px;	/* 임시 크기지정 */
	height: 50px;	/* 임시 크기지정 */
}
me_name{
	border: solid 2px red;
	margin: 15px;
}
.re_title{
	border: solid 3px yellow;
	margin: 10px;
}
.re_content{
	border: solid 3px yellow;
	margin: 10px;
}









