@charset "UTF-8";

/*
	#FFE6E6 : 연한분훈
	#F2D1D1
	#DAEAF1 : 연한 하늘
	#C6DCE4

*/


/* css 초기화 */
*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
	text-decoration: none;	/* 텍스트 밑줄 제거 */
	list-style: none;		/* 글머리 기호 제거 */
	text-decoration: none;
}

/* 웹박스 전체 */
.webbox{
	width: 1200px;
	margin: 0 auto;
	background-color: #DAEAF1;
}

.b_box{	/* 보조틀 */
	border: double 5px #C6DCE4;
	margin: 10px;
	background-color: #DAEAF1;
}

/* 인기게시물 전체박스 */
.best_box{
	margin-bottom: 35px;
}
.best_title{
	margin: 20px 0px 10px 30px;
}
.best_title span{
	font-size: 30px;
	font-weight: bold;
}
/* 인기게시물 이미지 */
.best_img{
	text-align: center;
	margin: 10px 10px 15px 25px;
	background-color: white;
	border-radius: 10px;	/* 모서리 둥글게 */
	overflow: hidden;
	display: flex;
}

.best_img img{
	margin: 20px;
	width: 300px;
	height: 300px;
	border: solid 1px #999999;
/* 	transition: all 0.2s linear; */
}


/*----------------------- 최근 게시물 ----------------------*/
.r_info_box{
	border-bottom: solid 1px #999999;
	margin: 10px;
	margin-bottom: 20px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
h2{
	margin-left: 12px;
}
.recent{
	width: 70%;
	margin: 10px 0px 25px 10px;
}
/* 닉네임, 게시물업로드 날짜 */
.updated{
	margin: 5px;
	display: flex;
    align-items: center;
}
.udpated_img img{
	border-radius: 15px;
	border: solid 1px #999999;
}

.m_name{
	margin-left: 20px;
	flex-direction: column;
	align-items: flex-start;
}

/* 최근게시물 - 닉네임, 시간*/
.m_name{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 12px;
}
.nick_name{
	font-size: 12px;
}
.update_time{
	font-size: 10px;
}

/* 게시물 제목 */
.me_title{
	font-size: 20px;
	margin: 20px 5px;
}
.me_title h3{
	margin: 10px;
}
/* 게시물 내용 */
.me_content{
	border-radius: 15px;
	margin: 10px;
	padding: 10px;
	background-color: white;
	
}
.content_list{
	width: 200px;
	height: 200px;
}
/* 게시물 이미지 */
.me_img{
	border: solid 1px #999999;
	margin: 10px;
	width: 20%;
	height: 230px;
}
/* 이미지 확대 : 애니메이션 추가 */
.me_img:hover {
	transform: scale(1.5);
}

/* 공감, 댓글 */
.ah{
	margin: 10px;
	font-size: 12px;
}

/*----------------------*/
.container {
	position: relative;
	width: 50%;
}
		
.image {
  display: block;
  width: 100%;
  height: auto;
}
/* 인기게시물 애니메이션 효과 */	
.overlay {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 0;
  background-color: #FFE6E6;
  overflow: hidden;
  text-align: center;
  width: 300px;
  height: 0;
  transition: .5s ease;
}
/* 애니메이션 효과 */
.container:hover .overlay {
	height: 100%;
}
/* 애니메이션 효과 */
.text {
	color: gary;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}





