@charset "UTF-8";

/*reset */

*{
	margin:0;
	padding:0;
	box-sizing: border-box;	
}

/*폰트*/
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*전체*/

.wrap{
	width: 100%;
	margin:0 auto;
	font-family: 'IBMPlexSansKR-Regular';	
}

/* 공통 */
.text_title{
	font-size: 16px;
    margin: 20px 0px;
}
.section{
	padding: 25px 30px;
   
}

h2{
	margin-top: 30px;
}
	


/*내 정보 영역*/
.infor_wrap{
	width: 1200px;
	margin: 0 auto;
	margin-top:190px;
}


.infor_box{
    width: 800px;
    margin: 30px auto 100px;;
    padding:40px;
    border: 1px solid #d8d8d8;;
}

.my_infor{
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;    
}

.profile_img{
	width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;	
}

.profile_img img{
	width: 100%;
}

.my_blog_name{	
	margin: 0 10px;
	text-align: center;
}
.visit_num_box{
	width: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
	
}
.num_box{
	
}
.my_blog_visit{
	width: 200px;
    background: #DAEAF1;;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    cursor:pointer;
}
.today_box{
	display: flex;
	align-items: end;
}
.total_box{}
.num_text{
	font-size: 30px;
}
.num{
	font-size: 18px;
	margin:0 5px;
}

/*//////////////////블로그 공지사항 영역////////////////*/

.admin_wrap{
	border-bottom: 1px solid #c8c8c8;
}




.admin_infor{
	display: flex;
    align-items: center;
}
.admin_img{
	width: 70px;
    height: 70px;
    border-radius: 50%;
    background: lightgreen;
}

.admin_img img{
	width: 100%;
}

.admin_name{
	margin-left: 20px;
}
.admin_notice{}
.admin_text{
	
}

/*//////////////////내 이웃친구 목록////////////////*/
.follower_h5{
	margin: 15px 0px;
	font-size: 16px;
}

.follower_wrap{
	width: 100%;
	border:1px solid #c8c8c8;
}

.follower_wrap h5{}

.my_follower_list{
	display: flex;
    flex-wrap: wrap;
}

.follower{
	display: flex;
    align-items: center;
    margin: 20px 10px;
   /*  width: 140px; */
}

.follower_profile_img{
	width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #aaaedd;
    overflow: hidden;
}

.follower_profile_img img{
	width: 100%;
}

.follower_name{
	margin-left: 10px;
}




/*//////////////////친구////////////////*/
.friend_news_wrap{
	width: 1200px;
	margin:0 auto;	
}


.friend_news_wrap h2{
	/* margin-top:100px; */
}

.friend_news{
	display: flex;
    align-items: center;  
    justify-content: space-between;
    cursor:pointer;	
}

.front_info{

}
.intro_section{
	display: flex;
    align-items: center;
}


.friend_profile_img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}


.friend_profile_img img{
	width: 100%;
}


.info_author{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.friend_name{}
.date_time{
	font-size: 12px;
}

.main_title{
	
}

.main_title h5{

}

.sub_title{
	max-width: 500px; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;	
}
.sub_title_text{}
.title_img_section{
	width: 200px;
	height: 200px;
	
}
.title_img_section img{
	width: 100%;
}
