@charset "UTF-8";

/* css 기본설정 */
*{
	margin : 0;
	padding: 0;
	list-style-type: none;
}


/*----갤러리 전체 박스-----------*/
.gallery_box{
	clear:both;
	width: 1200px;
	margin: 0 auto;
}

/*----갤러리 제목 -----*/
.food_title{
	height: 150px;
	background-color: #F2D1D1;
	font-size: 60px;
	padding-top: 40px;
	text-align: center;	
}
.food_subtitle{
	font-size: 20px;
	padding: 20px 0 10px 20px;
}


/*-------갤러리 메인컨텐츠 --------*/
.gallery_content{
	background-color: #FFE6E6;
	padding: 10px 0 20px 30px;
}

.gallery_imgs img{
	height:200px;
	width: 230px;
}

.gallery_imgs div{
	box-shadow: 0 2px 10px #FFE6E6; 
}


/*테이블 박스 크기 조절*/
.gallery_imgs{
	text-align: center;
	margin: 25px 25px 20px 25px;
}

.gallery_imgs td {
	padding: 0 20px  20px 20px;
}

.gimg_col1 td, .gimg_col2 td, .gimg_col3 td {
	position: relative;
}

.divs{
	display: none;
	position: absolute;
	margin: 0 auto;
	top: 70px;
	left: 65px;
	font-size: 25px;
}

.content_icon{
	position: absolute;
	top:75px;
	right: 10px;
	font-size: 35px;
}
