@charset "UTF-8";


/*------공통 ------*/

.gallry_box{
	width : 900px;
	height: auto;
	margin : 0 auto ;
	padding-top: 70px;
	padding: 70px;
	display: flex;
	flex-wrap: wrap;	
}






/*--------- 게시물 전체 출력 구역--------*/


#box1 {
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap; /* 가로배치 시 사이즈가 넘쳤을때 자동으로 줄바꿈*/
    /* border: blue 2px solid; */
}


#btnbox1{
	
	margin-left: 600px;	
}



/*------------자세히보기-------------------*/



.gallery_img{
	width: 100px;
	height: 100px;
	background:pink;
	margin: 0 10px;
}





.imno{
	display: inline-block;
}

.title{
	display: inline-block;
}

.b_img{
	
	display: inline-block;
}

.b_content{
	 display: inline-block;
}