@charset "UTF-8";

/*
	#FFE6E6 : 연한분훈
	#F2D1D1
	#DAEAF1 : 연한 하늘
	#C6DCE4

*/


/* css 초기화 */
*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
	text-decoration: none;	/* 텍스트 밑줄 제거 */
	list-style: none;		/* 글머리 기호 제거 */
	text-decoration: none;
}

/* 웹박스 전체 */
.webbox{
	width: 1200px;
	margin: 0 auto;
}

/* 글 목록 전체 박스권 */
.all_list_box{
	border: solid 2px red;
	margin: 40px auto;
}
.list_sbox{
	margin: 10px;
}


/* 검색창 전체 박스 */
.search_box{
	margin-bottom: 35px;
	background-color: #FFE6E6;
	display: flex;
	justify-content: flex-end;
}
/* 검색처리 구역 */
.search_list{
	margin: 10px;
	display: inline-flex;
}


/* 화면에 표시할 게시물 수 */
.num_list{
	margin-left: 20px;
}
/* 게시물 표시 전체 박스 */
.post_box{
	margin: 10px;
}
/* 게시물 table */
.post_list{
	background-color: white;
	margin: 8px;
	display: flex;
	flex-direction: column;
}
th{
	background-color: #F2D1D1;
	width: 20%;
	height: 45px;
	font-size: 20px;
}
tr{
	background-color: #FFE6E6;
	height: 30px;
	width: 20%;
	text-align: center;
	
}


/* 게시물 수 표현 박스 */
.dd_box{
	margin: 10px;
	padding-left: 10px;
}
/* 글쓰기 버튼 */
.w_box{
	margin: 10px;
	text-align: right;
}
/* 글쓰기 버튼 */
.w_box button{
	width: 70px;
	padding: 10px;
	margin: 0 10px;
	background-color: #DAEAF1;
	border: none;
}
.w_box button:hover{
	border: solid 2px #FFE6E6;
	color: white;
}
/* 페이징처리 박스 */
.pagebox{
	border: solid 3px skyblue;
	margin: 25px;
	display: flex;
	justify-content: center;
}



