@charset "UTF-8";

/*
	#FFE6E6 : 연한분훈
	#F2D1D1
	#DAEAF1 : 연한 하늘
	#C6DCE4

*/


/* css 초기화 */
*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
	text-decoration: none;	/* 텍스트 밑줄 제거 */
	list-style: none;		/* 글머리 기호 제거 */
	text-decoration: none;
}

/* 웹박스 전체 */
.webbox{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	padding-top: 100px;
}
.mainbox{
	width: 900px;
}
/*---------------------------------- 상단 헤더 ------------------------------------*/
.hd_top{
	display: flex;
	justify-content: space-between;
	margin: 10px 0px 10px 0px;
	background-color: #F2D1D1;
	padding: 15px;
}
.hd_title a{
	font-size: 30px;
}
.hd_sub{
	display: flex;
	font-size: 15px;
	margin: 10px;
}
.hd_sub li{
	margin-left: 20px;
}

/*---------------------------------- 하단 헤더 ---------------------------------*/

/* 하단 헤더 전체 박스 */
.hd_menu{ 
	width: 250px;
	height: auto; 
	border: double 7px #F2D1D1;
	background-color: white;
	margin: 20px;
	padding: 15px 0px;
	text-align: left;
	float: left;
}


/* ----------------------- 프로필 박스 ----------------------  */
.profilebox{
	padding: 30px 3px;
	padding: 15px 10px;
	border-bottom: dotted 1px #999999;
}
.p_title{	/* 타이틀 박스 */
	text-align: center;
	font-weight: bold;
	margin: 0px auto;
	background-color: #C6DCE4;
	font-size: 15px;
	height: 100%;
}

.about_me{	/* 자기소개 이미지, 내용 박스 */
	margin-top: 15px;
}
.profileimg{	/* 프로필 이미지 */
	margin: 0px 3px 10px 3px;
	text-align: center;
}
.profileimg img{
	width: 85%;
}

.profilename{ /* 별명, 인사말 */
	margin: 7px;
	font-size: 12px;
	background-color: #DAEAF1;
	text-align: center;
}


/* ------------------- 카테고리box ----------------------- */
.categorybox{ 
	border-bottom: dotted 1px #999999;
	padding: 40px 10px;
}
.category{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	background-color: #C6DCE4;
	margin: 3px;
}
.category span{
	font-size: 14px;
}

.categorylist{ /* 카테고리 목록 리스트 */
	border: solid 1px purple;
	margin: 5px;
	margin-top: 15px;
	padding: 5px 0 0 7px;
}

.clist{			/* 카테고리 */
	padding: 5px;
}
.clist ul{
	padding: 13px;
}
.clist li{
	padding: 10px;
}
.clist a:hover{
	color: purple;
}
.clist a:active{
	color: #f29886;
}
.clist span{ /* 리스트 */
	font-size: 20px;
}

/* --------------------- SNS box ---------------------- */
.sns_box{	/* sns box 전체 */
	margin-top: 15px;
	padding: 15px 10px 15px 10px;
}

.about_me_sns1 , .about_me_sns2{
	margin: 5px;
	margin-top: 15px;
	padding: 7px;
	display: flex;
	flex-direction: row;
}

.sns{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	font-size: 13px;
}


/* 하단 서브 메뉴 */
.hd_sub_menu{
	border: solid 1px black;
	margin: 50px;
	
}

.hd_sub1_box{
	border: solid 2px blue;
	margin: 20px;
	padding: 10px;
}
.hd_sub1_title{
	border-bottom: solid 2px #999999;
	font-size: 20px;
}
.hd_sub1_list{
	border: solid 1px red;
	margin: 10px;
	padding: 10px;
}



.hd_sub2_box{
	border: solid 2px red;
	margin: 20px;
	padding: 10px;
}
.hd_sub2_title{
	border: solid 2px red;
	margin: 15px auto;
}
.hd_sub2_title span{
	font-size: 30px;
	text-align: center;
}
.hd_sub_contnet{
	border: solid 2px blue;
	margin: 20px;
	padding: 10px;
	display: flex;
}
.hd_sub_img{
	margin: 8px;
	padding: 8px;
	text-align: center;
	display: flex;
}


h_img{
	margin: 20px;
}
.hd_sub_img img{
	margin: 20px auto;
    text-align: center;
    border-radius: 30px;

}
